/* body{
    background-color: bisque;
} */

#avatar{
    height: 400px;;
border-radius: 50%;
/* text-align: center; */
display: block;
margin: 0 auto;

}
.center{
  text-align: center;
}

.QRCode{
  height: 200px;  
}